.navbar{
    box-shadow: 0px 10px 13px -7px #000000;
}

.card{
    padding-top: 1em;
    box-shadow: 0px 10px 13px -7px #000000;
    
}

.card-image{
    margin: 2rem 0 2rem 0;
    padding: 0;
    box-shadow: 0px 10px 13px -7px #000000;
}

.card-image p{
    margin: 0;
}

.card-title{
    color: #4867aa;
}

.card-footer{
    background-color: #4867aa;
    color: #ffffff;
    text-align: center;
}

.banner li{
    list-style: none;
}

.fa-youtube{
    color: #ff0000;
}

.fa-thumbs-up{
    color: #4867aa;
}

.fa-microphone{
    color: #e1b34e;
}

#wrapper-footer{
    background-color: gray;
    color: #ffffff;
    text-align: center;
}

.site-info a{
    color: #ffffff;
    font-weight: bold;
}

.bottom-card-deck .card{
    padding: 10px;
    text-align: left;
    border: none;
    box-shadow: none;
}

.jumbotron-fluid p{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
}

